{% extends  'base.html' %}


{% load static %}


{% block css %}
{% endblock css %}


{% block title %}
<title>
    Home:Gallery
</title>
{% endblock title %}


{% block body %}

<div class="container p-5  my-2 shadow" style="width: 60% ;">

    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}

        {% for i in forms %}
        <div class="mb-3">
            {{i.label_tag}}
            {{i}}
            <span style ="color: red;" >{{i.errors | striptags}}</span>
        </div>

        {% endfor %}

                
        <div class="mb-3">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>

    </form>
    <div class="mt-3 border-top pt-3">
        <a href="{% url 'register' %}" class="btn btn-success btn-lg">Register</a>
    </div>
</div>






{% endblock body %}